* {
  padding: 0px;
  margin: 0px;
  border-radius: 10px;
  border-color: #3d3a3a;
}

body {
  background-color: #f2f2f2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
  margin: 20px;
  text-align: center;
  width: 100%;
  justify-content: center;
}

main {
  display: flex;
  width: 80%;
}

sidebar {
  margin: 100px 50px 100px 10px;
  border: 1px solid #000;
  padding: 20px 20px;
  height: 500px;
  width: 300px;
  background-color: white;
}

 li{
border: #b1b1b1 10px;
padding: 10px;
margin: 10px;
background-color: white;

}

.busqueda {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  border: #000 5px;
}

button{
    background-color: rgb(91, 29, 106);
    color: white;
    padding: 5px;

}


.tarjetas {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.tarjetas > div {
  padding: 20px;
  border: 1px solid black;
}

.ladoderecho {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tareas {
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  margin: 20px;
  width: auto;
  height: auto;
  padding-top: 20px 0px 0px 0px;

}

.tarea {
  border: 1px solid #000;
  margin: 10px;
  padding: 20px;
  width: 600px;
display: flex;
  justify-content: space-between;
  
}
